<html lang="en">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<body>
  
  <div class="container p-5">
    <h1 class="h1">New Event</h1>
    <form action="/create" class="form-group" method="POST">
      <label for="title">Title:</label>
      <input class="form-control" type="text" id="title" name="title" required>
      <label for="description">Description:</label>
      <input class="form-control" id="description" name="description" required></input>
      <label for="start">Start Time:</label>
      <input class="form-control" type="datetime-local" id="start" name="start" required>
      <label for="end">End Time:</label>
      <input class="form-control" type="datetime-local" id="end" name="end" required>
      <input style="display: none;" type="objid" id="objid" name="objid" value="<%= user.email %>" >
      <button class="btn m-2">Save</button>
    </form>
  </div>

</body>
</html>